.banner{
width:100%;
height:20%;
color:white;
background-color:red;
position:relative;
}
.menuarriba{
width:100%;
height:8%;
color:white;
background-color:orange;
position:relative;
}
#partecentral{
display:table;
height:72%;
}
#centro{
display:table-row;
height:100%;
}
.menu{
width:15%;
height:100%;
color:black;
background-color:blue;
display:table-cell;
}
.detalle{
width:70%;
height:100%;
color:white;
background-color:black;
display:table-cell;
}
.login{
width:15%;
height:100%;
color:blue;
background-color:yellow;
display:table-cell;
padding-left:1%;
}
.botones{
width:150px;
height:50px;
}