@CHARSET "ISO-8859-1";

@font-face {
	/*R Definir fuentes del sitio*/
	font-family: "FontAwesome";
	src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
}

@font-face {
	/*R Definir fuentes del sitio*/
	font-family: "lunabar";
	src: url("../fonts/LUNABAR.TTF") format("truetype");
}

@font-face {
	/*R Definir fuentes del sitio*/
	font-family: "handy";
	src: url("../fonts/comesinhandy.TTF") format("truetype");
}

@font-face {
	/*R Definir fuentes del sitio*/
	font-family: "sharpie";
	src: url("../fonts/HollySharpie.ttf") format("truetype");
}

@font-face {
	/*R Definir fuentes del sitio*/
	font-family: "magic";
	src: url("../fonts/Magic Pies.otf") format("truetype");
}

body {
	margin: 0;
	font-size: 12px;
	margin-top: 15px;
        background-color:azure;
}
footer{
background: #006CDB;
font-size:16px;
color:#fff;
display:block;
margin:0;
width: 100%;
position: fixed;
bottom: 0px;
left:0px;
z-index: 999;
border-bottom:  dashed #999 1px;
border-top:  solid #d8d8d8 1px;
-webkit-box-shadow: 0px -1px 26px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px -1px 26px -1px rgba(0,0,0,0.4);
box-shadow: 0px -1px 26px -1px rgba(0,0,0,0.4);
}
section>footer{
	position:relative;
}
.pad-body
{
	padding-bottom: 480px;
}
header {
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	z-index: 999;
	margin:0 auto;
}
aside .aside-title{
    text-align: center;
    background:#005fc1;
    font-size:30px;
    color:#fff;
    font-family:serif;
}
aside ul>li{
    list-style:none;
}
body .modal {
    /* new custom width */
    width: 1260px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: 10px;
}
.amigo-conectado{
	background:#fff;
}
.amigo-conectado:hover{
	background:#eee;
	cursor:pointer;
}
.contenedor {
	background: #FFF;
	border: 1px solid #ccc;
	-moz-border-radius: 20px 10px 30px 50px;
	-webkit-border-radius: 20px 10px 30px 50px;
	border-radius: 20px 10px 30px 50px;	
	-moz-box-shadow: #999 5px 5px; 
	-webkit-box-shadow: #999 5px 5px; 
	box-shadow: #999 5px 5px;
}
.contenedor2 {
	background: #FFF;
	border: 1px solid #ccc;
}

.conte1
{	
	background-color: #eee;
	border: #E4E4E4 1px solid;
	padding: 20px;
	-moz-border-radius: 20px 10px 30px 50px;
	-webkit-border-radius: 20px 10px 30px 50px;
	border-radius: 20px 10px 30px 50px;	
	
}
.sombra-div {
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
}
.sombra-div2 {
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
}
.sombra-div3 {
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.75);
}


.mar-perfil-amigos {
	margin-left: 50px;
	margin-right: 50px;
}

.mar-perfil-informacion {
	margin-left: 40px;
	margin-right: 40px;
}

.seudonimo {
	font-size: 14px;
	color: #06C;
	font-weight: bold;
}

.nom-ape {
	font-size: 14px;
	color: #333;
}

.ventas {
	font-size: 12px;
	color: #999;
}

.mar-me-gusta {
	margin-top: -40px;
	margin-right: 30px;
}

.texto-perfil-header {
	text-shadow: 0 0 0.2em #00c3ec;
	cursor: default;
	font-size: 20px;
}

.texto2-perfil-header {
	text-shadow: 0 0 0.2em #00c3ec;
	cursor: default;
	font-size: 16px;
}

.opacity {
	opacity: 0.6;
}

.perfil-info-menu {
	font-size: 16px;
	margin-left: 20px;
}

.perfil-info-menu div.act {
	color: #000;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	opacity: 1;
	cursor: pointer;
}

.perfil-info-menu div {
	color: #666;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	opacity: 0.7;
	cursor: pointer;
}

.perfil-info-menu div:hover {
	color: #000;
	text-decoration: none;
	opacity: 1;
	font-size: 16px;
	cursor: pointer;
}

.seu-nom-perfil-header {
	position: absolute;
	top: 35%;
	margin-left: 20px;
	color: #FFF;
	text-align: left;
}

.perfil-info-menu div:hover ~ .perfil-info-menu div>i {
	transform: rotate(180deg);
}

.borde-left-informacion {
	border-left: 1px solid #ccc;
}
/* ************* css publicar ************* */
.img-publicar {
	opacity: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	cursor: pointer;
}

.img-publicar:hover {
	opacity: 1;
	 transform:translate(0px, 10px); 
}

.img-publicar2 {
	opacity: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	cursor: pointer;
}

.img-publicar2:hover {
	opacity: 1;
	 transform:translate(0px, 10px); 
}
/* ************* fin css publicar ************* */

/* ************* foto de amigos************* */
.marco-foto-amigos {
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
}

.pull-right-me-gusta {
	float: right !important;
}

.img-apdp
{
	width: 100%;
	height: 100%;
	border: solid 1px #ccc;
}
/* ************* Fin de foto de amigos ************* */

/* ************* Botones ************* */
.btn-group>.btn:hover, .btn-group-vertical>.btn:hover, .btn-group>.btn:focus,
	.btn-group-vertical>.btn:focus, .btn-group>.btn:active,
	.btn-group-vertical>.btn:active, .btn-group>.btn.active,
	.btn-group-vertical>.btn.active {
	outline: none;
	color: #005fc1;
}

.btn-ventas {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	font-size: 12px;
	cursor: auto;
}

.btn-ventas:focus, .btn-ventas.focus {
	color: #333;
	background-color: #FFF;
	border-color: #8c8c8c;
}

.btn-ventas:hover {
	color: #333;
	background-color: #FFF;
	border-color: #adadad;
}

.btn-ventas:active, .btn-ventas.active, .open>.dropdown-toggle.btn-ventas
	{
	background-image: none;
}

.btn-ventas.disabled, .btn-ventas[disabled], fieldset[disabled] .btn-ventas,
	.btn-ventas.disabled:ventas, .btn-default[disabled]:ventas, fieldset[disabled] .btn-ventas:hover,
	.btn-ventas.disabled:focus, .btn-ventas[disabled]:focus, fieldset[disabled] .btn-ventas:focus,
	.btn-ventas.disabled.focus, .btn-ventas[disabled].focus, fieldset[disabled] .btn-ventas.focus,
	.btn-ventas.disabled:active, .btn-ventas[disabled]:active, fieldset[disabled] .btn-ventas:active,
	.btn-ventas.disabled.active, .btn-ventas[disabled].active, fieldset[disabled] .btn-ventas.active
	{
	background-color: #fff;
	border-color: #ccc;
}

.btn-ventas .badge {
	color: #fff;
	background-color: #333;
}

.btn-default2 {
	color: #005fc1;
	background-color: #fff;
	border-color: #ccc;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: bolder;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-right: none;
	font-size: 16px;
	outline: 0px;
}

.btn-default2.focus, .btn-default2:hover, .btn-default2-active {
	background-color: #FFF;
	font-weight: bolder;
	color: #005fc1;
	border-right: 1px solid #ccc;
	transform: translate(0px, -3px);
	-webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}

.btn-default2.disabled, .btn-default2[disabled], fieldset[disabled] .btn-default2,
	.btn-default2.disabled:hover, .btn-default2[disabled]:hover, fieldset[disabled] .btn-default2:hover,
	.btn-default2.disabled:focus, .btn-default2[disabled]:focus, fieldset[disabled] .btn-default2:focus,
	.btn-default2.disabled.focus, .btn-default2[disabled].focus, fieldset[disabled] .btn-default2.focus,
	.btn-default2.disabled:active, .btn-default2[disabled]:active, fieldset[disabled] .btn-default2:active,
	.btn-default2.disabled.active, .btn-default2[disabled].active, fieldset[disabled] .btn-default2.active
	{
	background-color: #fff;
	border-color: #ccc;
	outline: 0px;
}

.btn-default3 {
	color: #005fc1;
	background-color: #fff;
	border-color: #ccc;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: bolder;
	border-right: none;
	font-size: 16px;
	cursor: default;
}

.btn-default3:active, .btn-default3.active, .open>.dropdown-toggle.btn-default3
	{
	background-image: none;
}

.btn-primary2 {
	color: #FFF;
	background: #005fc1;
	border-color: #FFF;
}

.btn-primary2:hover, .btn-primary2:focus, .btn-primary2.focus,
	.btn-primary2:active, .btn-primary2.active, .open>.dropdown-toggle.btn-primary2
	{
	color: #FFF;
	background: #006cdb;
	border-color: #00c3ec;
	-webkit-box-shadow: 0px -1px 70px -17px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -1px 70px -17px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -1px 70px -17px rgba(0, 0, 0, 0.5);
}

.btn-primary2:active, .btn-primary2.active, .open>.dropdown-toggle.btn-primary2
	{
	background-image: none;
}

.btn-primary2.disabled, .btn-primary2[disabled], fieldset[disabled] .btn-primary2,
	.btn-primary2.disabled:hover, .btn-primary2[disabled]:hover, fieldset[disabled] .btn-primary2:hover,
	.btn-primary2.disabled:focus, .btn-primary2[disabled]:focus, fieldset[disabled] .btn-primary2:focus,
	.btn-primary2.disabled.focus, .btn-primary2[disabled].focus, fieldset[disabled] .btn-primary2.focus,
	.btn-primary2.disabled:active, .btn-primary2[disabled]:active, fieldset[disabled] .btn-primary2:active,
	.btn-primary2.disabled.active, .btn-primary2[disabled].active, fieldset[disabled] .btn-primary2.active
	{
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-primary2 .badge {
	color: #337ab7;
	background-color: #fff;
}

.btn-header {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.btn-default-header {
	color: #999;
	background-color: #fff;
	border-color: #ccc;
	cursor: default;
}

.btn-default-header:hover, .btn-default-header:focus,
	.btn-default-header.focus, .btn-default-header:active,
	.btn-default-header.active, .open>.dropdown-toggle.btn-default-header {
	color: #999;
	background-color: #fff;
	border-color: #ccc;
	outline: 0;
}
/* ************* Fin botones ************* */

/* ************* Formularios ************* */
.form-control-header {
	display: block;
	width: 150%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-select-publicar {
	outline: 0px;
	border: 0px;
	width: 100%;
	margin: 10px;
	/* -webkit-scrollbar:; */
	/* 	-webkit-scrollbar-button:; */
	/* 	-webkit-scrollbar-track:; */
	/* 	-webkit-scrollbar-track-piece:; */
	-webkit-scrollbar-thumb: #000;
	/* -webkit-scrollbar-corner  :;           */
	/* -webkit-resizer        */
	color: #999;
	padding-right: 10px;
}

.badge-publicar1 {
	background: #5191ff;
}
.badge-publicar2 {
	background: #fb566a;
}
.badge-publicar3 {
	background: #4c704c;
}

.badge-publicar {
	background: #06c;
}
.badge-publicar-antes {
	background: #ccc;
}
.div-select-publicar:hover > .badge-publicar-antes
{
	background: #06c;
}

select option {
	background: #FFF;
	margin-left: 10px;
	margin-top: 5px;
}

select>option:checked {
	background: #ccc;
}

.form-select-publicar:hover {
	-webkit-scrollbar-thumb: #000;
	color: #666;
}

select::-webkit-scrollbar-thumb {
	width: 15px;
	background-color: #fafafa;
	border: 1px solid #00468e;
	-webkit-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
}

.div-select-publicar {
	align-items: center;
	background: #fff;
	z-index: 500;
	border: 1px solid #ccc;
	padding: 3px;
	width: 85%;
	-webkit-box-shadow: -1px 2px 57px -15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -1px 2px 57px -15px rgba(0, 0, 0, 0.5);
	box-shadow: -1px 2px 57px -15px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	margin-bottom: 10px;
}

.div-select-publicar:hover {
	border: 1px solid #06C;
	background: #fafafa;
}

.div-select-publicar-act {
	border: 1px solid #06C;
	background: #fafafa;
}

.form-control-header:focus {
	outline: 0;
}

.form-input {
	display: block;
	width: 100%;
	height: 30px;
	padding: 4px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #999;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-select {
	display: block;
	width: 100%;
	height: 30px;
	padding: 4px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #999;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-textarea {
	display: block;
	width: 100%;
	padding: 4px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #999;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-textarea-foto {
	display: block;
	width: 100%;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #666;
	background-color: #fff;
	background-image: none;
	border: 1px dotted #ccc;
	border-radius: 4px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	text-align: left;
	resize: none;
	background: #FaFaFa;
}

.form-textarea-foto:focus {
	outline: 0px;
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	transform: scale(1.11, 1.11);
	-webkit-box-shadow: 0px -2px 21px -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px -2px 21px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -2px 21px -2px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
}

.form-group>.form-control-feedback {
	margin-right: 8px;
	margin-top: 0.5px;
	background: #FFF;
	width: 25px;
	height: 25px;
	line-height: 30px;
}

.form-apdp>div>div>span {
	font-size: 14px;
}

.form-apdp>div>div {
	margin-bottom: 5px;
}

.form-apdp>div>.input {
	margin-bottom: 10px;
}

/* ************* Fin de formularios ************* */

/* ************* header ************* */
.mar-buscador {
	margin-left: 50px;
}

div.vertical-line {
	width: 2px; /* Line width */
	background-color: #90887F; /* Line color */
	height: 100%; /* Override in-line if you want specific height. */
	float: left;
}
/* ************* Fin del header ************* */

/* ************* login  ************* */
.dropdown-menu-log {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 130px;
	width: 250px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* ************* Fin login  ************* */

/* Categorias*/

.categorias > div 
{
	margin-bottom: 2px ;
}
.categorias > div > a> div 
{
	background: #FFF;
	color: #666;
	border: 1px solid #ccc;
	
	padding-top: 10px;
	padding-bottom: 7px;
	text-align: left;
	font-size: 14px;
	margin-left: -5px;
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
}

.categorias > div > a > div >img
{
	margin-left: 10px;
}

.categorias > div > a >div:hover
{
	text-decoration: none;
	background: #F2F2F2;
}

.categorias > div > a:hover
{
	text-decoration: none;
}

.categorias > div > a:focus
{
	text-decoration: none;

}
.categorias2 > div 
{
	margin-bottom: 2px ;
}

.categorias2 > div > a> div 
{
	background: #00468e;
	color: #FFF;
	border: 1px solid #ccc;
	margin: ;
	padding-top: 10px;
	padding-bottom: 7px;
	text-align: left;
	font-size: 16px;
	text-decoration: none;
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.90);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.90);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.90);
}
.categorias2 > div > a > div >img
{
	margin-left: 10px;
}

.categorias2 > div > a >div:hover
{
	text-decoration: none;
	background: #005fc1;
}

.categorias2 > div > a > div.active-cat 
{
	background: #005fc1;
	text-decoration: none;
}

.active-cat 
{
	background: #666;
	text-decoration: none;
}

.categorias2 > div > a:hover , .categorias2 > div > a:focus
{ 
	text-decoration: none;
}

.categorias3 > div 
{
	margin-bottom: 2px ;
	
}
.categorias3 > div > a> div 
{
	background: #FFF;
	color: #666;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 7px;
	text-align: left;
	font-size: 16px;
	margin-left: -5px;
	text-align: center;
	line-height: 35px;
	-webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
	
}
.categorias3 > div > a > div >img
{
	margin-left: 10px;
}

.categorias3 > div > a >div:hover
{
	text-decoration: none;
	background: #F2F2F2;
}

.categorias3 > div > a:hover
{
	text-decoration: none;
}

.categorias3 > div > a:focus
{
	text-decoration: none;

}

.titulo-categoria
{
	color:#000;
	margin-left:5px;
	margin-top:-15px;
	text-align: left;
	font-size: 26px;
	
}
.oculto2
{
	visibility: hidden;
}

/* ************* hover  ************* */
.hover-publicaciones div > div:hover
{
	opacity: 1;
	background: #eeeeee;
	cursor: pointer;
}
.point
{
	cursor: pointer;
}

/* ************* fin de hover ************* */

/* ************* vinculos ************* */
.vin-blue a {
	color: #06C;
	text-decoration: none;
}
.vin-blue a:hover {
	color: #06C;
	text-decoration: underline;
}
.blue-vin{
color: #06C;	
}

/* ************* Fin vinculos  ************* */

/*-Modificacion del Sweet alert-*/
.sweet-alert-mod button.cancel {
	background-color: #00468E;
}

.sweet-alert-mod button.cancel:before {
	content: "\f275";
	font-family: FontAwesome;
	left: -5px;
}

.sweet-alert-mod button:before {
	content: "\f007";
	font-family: FontAwesome;
	left: -5px;
}

.sweet-alert-mod button.cancel:hover {
	background-color: #003f7f;
}

.sweet-alert-mod button.cancel:active {
	background-color: #003f7f;
}

.sweet-alert-mod button.cancel:focus {
	box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px,
		rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
}
/*- Fin Modificacion del Sweet alert-*/
.noseleccionable {
	/*R no permite al usuario seleccionar el campo*/
	-moz-user-select: none;
	-webkit-user-select: none;
}

.f-condicion {
	background: RGBA(0, 0, 0, 0.4);
	padding: 2px;
	color: #FFF;
	font-size: 10px;
}

/* ************* PlaceHolder  ************* */
.ta ::-webkit-input-placeholder { /* navegadores Webkit */
	color: #999;
	font-style: italic;
}
/* ************* fin del PlaceHolder ************* */

/* ************* fondo de alerta ************* */
.ajaxBackdrop {
	/*Div que ocupa toda la pantalla*/
	margin-top: 25px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #999;
	/*IE*/
	filter: alpha(opacity = 50);
	/*FireFox Opera*/
	opacity: .5;
	z-index: 1000;
}

.cargador {
	background-image: url(../galeria/loading.gif); background-repeat :
	no-repeat;
	background-position: center center;
	background-repeat: no-repeat;
}
/* ************* fin fondo de alerta************* */

/* ************* foto de perfil  ************* */
.marco {
	padding: 20px;
	-webkit-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	background: #FAFAFA;
	width: 70%;
	border: 1px solid #ccc;
}

.conte-foto {
	align-items: center;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
	display: flex;
	background: #FFF;
	border: 1px solid #ccc;
}

.conte-foto:hover {
	opacity: 0.9;
}

.foto-perfil {
	cursor: pointer;
	border: 1px solid #ccc;
}

.foto-perfil:hover {
	
}

.rota-img {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.rota-img:hover {
	transform: translate(0px, -10px);
}

.actualizar {
	display: none;
	-webkit-transition: all 0.9s ease-out;
	-moz-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
}

#img-perfil {
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}

#img-perfil:hover ~ .actualizar, .actualizar:hover {
	position: absolute;
	top: 82%;
	left: 0%;
	z-index: 900;
	width: 82%;
	border-radius: 10px;
	background: RGBA(66, 66, 66, 0.7);
	color: #FFF;
	margin-left: 8.7%;
	display: block;
	cursor: pointer;
}

.marco-foto-perfil {
	-webkit-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.75);
	top: 55%;
	left: 2.8%;
	display: flex;
	align-items: center;
	position: absolute;
	background: #fff;
	z-index: 500;
	border: 1px solid #ccc;
	max-width: 15%;
	padding: 5px;
}

.marco-foto-conf {
	-webkit-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
	box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	background: #fff;
	z-index: 500;
	border: 1px solid #ccc;
	padding: 5px;
}
.marco-foto-publicaciones {
	-webkit-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
	box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	background: #fff;
	z-index: 500;
	border: 1px solid #ccc;
	padding: 3px;
}
/* ************* Fin de foto de perfil  ************* */
.subir-img
{
height: 100px ; 
width: 100px ; 
border: 1px dashed #999 ; 
float: left ;
 margin-left: 10px ; 
		background-image: url("../galeria/img/camara.png");
		background-size: 60px 60px ;
	 background-repeat: no-repeat ;
	  background-position: center center ;
	  opacity:0.7;
	  cursor: pointer;
}
.subir-img:hover
{
height: 100px ; 
width: 100px ; 
border: 1px dashed #999 ; 
float: left ;
 margin-left: 10px ; 
		background-image: url("../galeria/img/camara.png");
		background-size: 60px 60px ;
	 background-repeat: no-repeat ;
	  background-position: center center ;
	  opacity:1;
}
.subir-img-active
{
height: 60px ; 
width: 60px ; 
border: 1px dashed #999 ; 
float: left ;
 margin-left: 10px ; 
		background-image: url("../galeria/img/camara.png");
		background-size: 40px 40px ;
	 background-repeat: no-repeat ;
	  background-position: center center ;
	   cursor: pointer;
}

	/* ************* Resumen ************* */ 
.foto-resumen {
	background: #FFF;
	transform: rotate(10deg);
	-webkit-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
}

.linea-resumen {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
}

.titulo-perfil {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-aling: center;
}

/* ************* Fin Resumen ************* */

/* ************ iconos ***************** */


.iconos a
{
color: #999;
font-size: 22px;
opacity: 0.7;
}
.iconos a:hover
{
color: #999;
font-size: 22px;
opacity: 1;
}

/* ************ Clases de Ivan ***************** */
.vinculos-areas{
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	cursor: pointer;
}

.vinculos-areas:hover {
	 transform:translate(0px, -4px); 
}


.vinculos-temas {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	cursor: pointer;
}

.vinculos-temas:hover {
	 transform:translate(0px, -4px); 
}

.fondo1{
	background:#b6c6d7;
}

.fondo1 div{
	background:#b6c6d7;
}

.fondo1 span,input{
	color:rgba(14, 2, 11, 0.94);
	font-size:16px;
	text-decoration: none;
}
.fondo2{
	background:#fff;
}

.fondo2 div{
	background:#fff;
}

.fondo2 span,input{
	color:rgba(14, 2, 11, 0.94);
	font-size:16px;
	text-decoration: none;
}

.amigos-chat {
	overflow-y: auto;
	height : 400px;
	width: 300px;
}

.img-top{
	width: 120px;
	height: 120px;
	border-radius:120px;
}

.text_encima {
	position: absolute;
	color: #7715D1;
	font-size: 40px;
	font-family: arial;
}
/* ************ Fin iconos  ***************** */


/* ************ Figuras ***************** */
.curvedarrow {
	position: relative;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 9px solid #333;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
}

.curvedarrow:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 3px solid #333;
	border-radius: 20px 0 0 0;
	top: -12px;
	left: -9px;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
/* ************ Fin de Figuras ***************** */ 