<br><br>
<center><h1>FOROS - TEMAS</h1></center>
<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad20">
            <div class="col-xs-12 text-center">
                <span class="t18">P&aacute;ginas</span> <select class="t18"><option ng-repeat="pagina in paginas" ng-click="cambiarPagina(pagina)">{{pagina}}</option></select>
            </div>            
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <span class="t26 blue">Temas</span>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
                <span class="t26 blue">Activo</span>
            </div>
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12" data-ng-repeat="tema in temas" data-ng-class-odd="fondo1" data-ng-class-even="fondo2">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <span>{{tema.titulo}}</span> <span class="t16 opacity">{{tema.fecha}}</span>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
                    <input type="checkbox" data-ng-checked="tema.status==1" ng-click="cambiarStatus(tema.id,tema.status)" ng-model="tema.status"/>
                </div>
                <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
        <div class="col-xs-12"><br><br><br></div>
    </div>
</div>